select {
  margin: 20px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

label{
 font-size: 20px;
}

#freeddy {
  margin: 20px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

._2iA8p44d0WZ-WqRBGcAuEV   {

  border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
    min-height: 22px;
    position: relative;
max-width: 460px;
}

._3vt7_Mh4hRCFbp__dFqBCI {
    position: relative;
    text-align: left;
    
max-width: 460px;
}


