select {
  margin: 20px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

label{
 font-size: 20px;
}

#freeddy {
  margin: 20px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

._2iA8p44d0WZ-WqRBGcAuEV   {

  border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
    min-height: 22px;
    position: relative;
max-width: 460px;
}

._3vt7_Mh4hRCFbp__dFqBCI {
    position: relative;
    text-align: left;
    
max-width: 460px;
}

#Bookings {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Bookings td, #Bookings th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Bookings tr:nth-child(even){background-color: #f2f2f2;}

#Bookings tr:hover {background-color: #ddd;}

#Bookings th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
